//////////////////////////////////
// navbar
.navbar{
    background-color: var(--dark-color);
    &-toggler{
        color: #fff;
        border-color:#fff ;
        font-size: 2.5rem;
        &:focus{
            box-shadow: none;
        }
        &[aria-expanded="true"]{
            border-color: var(--green-color)
        }
    }
}  

.nav-link{
    color: #fff;
    &:hover,
    &.active,
    &:focus{
        color:var(--green-color);
    }
}

.search{
    border-left: 1px solid var(--green-color); 

    & svg{
        color: var(--green-color);
    }
}