////////////////////////////////////////////////////
//LANDING
.landing{
    background-color: var(--dark-color);
    min-height: calc(100vh - 4.59rem);
} 


//////////////////////////////////////////////////////
//OUR WORK 
.works{
    background-color: var(--section-color);
    &__item{
        padding: .5rem 1rem;
        cursor: pointer;
        &:not(.active):hover{
            color: var(--red-color);
        }
    }
    &__item.active{
        background-color: var(--red-color);
        color: var(--yellow-color);
    }
}

//////////////////////////////////////////////////////
//ABOUT
.about{
    &__description{
        max-width: 60%;
    }
    &__photo{
        position: relative;
        top: 1.2rem;
    }
} 


////////////////////////////////////////////////////////
//TEAM
.team{
    background-color: var(--section-color);
    
} 