////////////////////////////////////////////////////
//LANDING
.landing{
    background-color: var(--dark-color);
    min-height: calc(100vh - 4.59rem);
} 


//////////////////////////////////////////////////////
//OUR WORK 
.works{
    background-color: var(--section-color);
    &__item{
        padding: .5rem 1rem;
        cursor: pointer;
        &:not(.active):hover{
            color: var(--red-color);
        }
    }
    &__item.active{
        background-color: var(--red-color);
        color: var(--yellow-color);
    }
}

//////////////////////////////////////////////////////
//ABOUT
.about{
    &__description{
        max-width: 60%;
    }
    &__photo{
        position: relative;
        top: 1.2rem;
    }
} 


////////////////////////////////////////////////////////
//TEAM
.team{
    background-color: var(--section-color);
    
} 


//////////////////////////////////////////////////////////
.subscribe{
    background-color: var(--yellow-color);
    &__email{
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #fff;
        &:focus{
            outline: none;
        }
        &::placeholder{
            color: #fff;
        }

    }
    &__button{
        background-color: var(--dark-color);
        color: var(--yellow-color);
    }
} 

///////////////////////////////////////
//FOOTER
.footer{
    background-color: var(--dark-color);
    ul{
        svg{
            width: 20px;
            height: 20px;
        }
        svg.facebook{
            background-color: #1877f2;
        }
        svg.twitter{
            background-color: #1da1f2;
        }
        svg.instagram{
            background-color: #e1306c;
        }
        svg.youtube{
            background-color: #ff0000;
        }

    }
} 

.copyrights > span{
    color: var(--green-color);
}

.copyrights div span{
    color: var(--yellow-color);
}

